@use "./core/reset";

.main {
  color: white;
}

.form__search {
  margin: 50px;
}

.input__search,
.select__house {
  background-color: transparent;
  color: white;
  padding: 0.025rem;
  margin-block: 0.5rem;
  font-size: 20px;
  width: 30ch;
  border: solid 3px #bea051;
}

.input__search:hover,
.select__house:hover {
  border-color: #5c1912;
  cursor: pointer;
}
.input__search {
  margin-left: 5px;
}

.select__house {
  margin-left: 25px;
}

.list__characters {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item__character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img__character {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.data__character {
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #bea051;
}
